<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>FIrst JQuery example</title>
<link rel="Stylesheet" href="css/c07.css" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
</head>
	<body>
		<div id="page">
			<h1 id="header">List</h1>
			<h2>Buy Groceries</h2>
			<ul>
				<li id="one" class="hot"><em>fresh</em> figs</li>
				<li id="two" class="hot">pine nuts</li>
				<li id="three" class="hot">honey</li>
				<li id="three" class="cool">pasta</li>
				<li id="three" class="complete">lime juice</li>
				<li id="four">balsamic vinegar</li>
				<li>cream</li>
				<li>coconut milk</li>
				<li>mushrooms</li>
				<li>apples</li>
				<li>strawberries</li>
				<li>rice crackers</li>
				<li>brie</li>
				<li>rice</li>
				<li>green tea</li>
				<li>vine-ripened tomatoes</li>
				<li>bananas</li>
				<li>red kidney beans</li>
			</ul>
			 <p>"Sell your cleverness and buy bewilderment."<br />- Rumi
			 </p>
			 <p id="footer"> &copy; ListKing</p>
			 <div id = "slideAd">
			 	Please sign out!
			 </div>
			<div id="newItemButton">
				<button href="#" id="showForm">new item</button>
			</div>
			<form id="newItemForm">
				<input type="text" id="itemDescription" placeholder = "Add description..."/>
				<input type="submit" id="add" value="add"/>
			</form>
			
			<p id="notes">Click or mouseover a hot item...</p> 
		</div>
		<script src="js/jquery-1.11.0.js"></script> 
		<!-- <script src="js/basic-example.js"></script> -->
		<!-- <script src="js/looping.js"></script> -->
		<!-- <script src="js/chaining.js"></script> -->
		<!-- <script src="js/get-html-fragment.js"></script> -->
		<!-- <script src="js/get-text-fragment.js"></script> -->
		<!-- <script src="js/get-html-node.js"></script> -->
		<!-- <script src="js/get-html-node.js"></script> -->
		<!-- <script src="js/event-object.js"></script> -->
    	<!-- <script src="js/event-delegation.js"></script> -->
    	<!-- <script src="js/effects.js"></script> -->
		<!-- <script src="js/traversing.js"></script> -->
		<!-- <script src="js/filter.js"></script>  -->
		<!-- <script src="js/each.js"></script>  -->
		<!-- <script src="js/form.js"></script> --> 
		<!-- <script src="js/cut-copy-paste.js"></script> -->
		<!-- <script src="js/position.js"></script> -->
		<script src="js/example.js"></script>
</body>
</html>